* {
  box-sizing: border-box;
}

body {
  margin: 0;
	background-color: #CEA0A0;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: 'Courier New', Courier, monospace;

}

.container {
	 border-radius: 10px;
	background-color: #CA3B3B;
	text-align: center;
	padding: 10px;
	width: 270px;
	height:700px;
	margin: 5px;
	
}

img {
  width: 200px;
  margin-bottom:1px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.1px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

select {
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #EAD340;
  color: #444;
}

button {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #2E7B97;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0d47a1;
}
.link{
position:absolute ;
  top:85%;
  left:50%;
  transform:translate(-50%,-50%);
  background-color:transparent ;
width:190px;

text-align:center;
  color:black;
  font-weight:999;
  font-size:4em;
  
  font-size:20px;
  padding-top:5px;
  border-radius:10px;
  
animation:anim 1.2s linear infinite ;
}
@keyframes anim{
	0%{
		border-top:3px solid black;
	}
	25%{
		border-left:3px solid orange;
	}
	50%{
		border-bottom:3px solid green
	}
	75%{
		border-right:3px solid yellow;




	}
}



